<h1>On the Air</h1>
<h4>Follow Jack to travel</h4>
<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

<p>
  
  <%= @article.title %>
</p>
 
<p>
  
  <%= @article.text %>
</p>
<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />


<h4>All comments</h4>
<%= render @article.comments %>

<hr style="height:1px;border:none;border-top:1px solid #555555;" />


<h4>Add Comment:</h4>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Return', articles_path %>